@import url("themes/dark.css");
@import url("themes/light.css");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  min-height: 100vh;
}

.app {
  width: 100%;
  min-height: 100vh;
  padding: 20px;

  background: var(--bg-color);
  color: var(--primary-color);
}