.header {
 padding: 20px;
 width: 100%;
 background: var(--inverted-bg-color);
 color: var(--inverted-primary-color);
 height: var(--header-height);
 display: flex;
 align-items: center;
 justify-content: space-between;
}