.todolistItem {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.taskItem {
  display: flex;
  align-items: center;
}

.titleWrapper {
  display: flex;
  align-items: center;
}

.activeFilter {
  background-color: lightgreen;
}

.isDone {
  opacity: 0.5;
}

.taskItem {
  display: flex;
}